/* Define the "system" font family */

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
    background: #F8ECC2;
    color: #21130c;
    font-family: "system";
    font-size: 18px;
    line-height: 1.25em;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0px;
    max-width: 550px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 630px) {
    body {
        padding: 0px 40px;
    }
}

header {
    margin: 140px 0px 60px;
}

header .site-title a {
    text-decoration: none;
}

header .devlog-title {
    font-weight: bold;
}

header h1 a {
    color: #E59606;
}

footer {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: table;
    text-align: center;
}

footer nav {
    margin-top: 100px;
}

footer svg {
    fill: #427B58;
    width: 20px;
}

.centered {
	margin: 0px auto 40px;
	display: block;
}

p {
    line-height: 1.5;
}

.firstLetter {
    float: left;
    font-size: 3.8em;
    line-height: 0.5;
    margin: 0.1em 0.08em 0 0;
    font-weight: bold;
}

.firstLetter+span {
    margin-left: -0.5em;
}

#archive {
    line-height: 1em;
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
}

img {
    max-width: 100%;
    margin: 20px 0px;
    padding: 0px;
}

svg {
    margin: 0 auto;
}

a {
    color: #8BB59F;
    text-decoration: none
}

.benediction {
    font-size: 12px;
    font-style: italic;
}

.underline:hover {
    color: #427B58;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #427B58;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.highlight {
    color: #584C46;
    position: relative;
    z-index: 1;
}

.highlight::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #A3B79A;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
}

.highlight:hover::before {
    transform: scaleY(1);
    background-color: #A3B79A;
}

.cursor {
    animation: cursor 2s infinite;
    color: #A3B79A;
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    border-radius: 1px;
}

@keyframes cursor {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
