</html><!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ἱλαστήριον</title>
    <title>{{ config.title }}{% block title %}{% endblock title %}</title>
    <meta name="description" content="Ian Pringle's blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
{% endblock head %}

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
        <div class="site-title">
            <h1><a href="/">ἱλαστήριον</a></h1>
        </div>
        <nav>
            <a class="underline" href="/about">about</a>
			<a class="underline" href="{{ get_url(path="rss.xml") }}">rss</a>
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <footer>
    {% block footer %}
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 -16 512.00107 512" width="512pt">
<g id="surface1">
<path d="M 501.1875 358.867188 C 495.503906 339.992188 487.589844 321.707031 477.667969 304.523438 C 456.613281 268.050781 426.886719 237.324219 391.367188 215.214844 C 389.277344 152.746094 364.8125 93.722656 321.921875 48.199219 C 304.851562 30.074219 285.195312 14.535156 263.5 2.011719 C 258.863281 -0.667969 253.148438 -0.667969 248.511719 2.003906 C 226.863281 14.476562 207.222656 30.015625 190.136719 48.1875 C 176.628906 62.554688 164.75 78.550781 154.828125 95.730469 C 133.761719 132.226562 122.011719 173.363281 120.636719 215.207031 C 67.617188 248.25 28.757812 298.933594 10.789062 358.8125 C 3.628906 382.65625 0 407.449219 0 432.5 C 0 437.855469 2.855469 442.804688 7.488281 445.484375 C 29.113281 457.996094 52.390625 467.234375 76.675781 472.945312 C 95.871094 477.460938 115.660156 479.75 135.496094 479.75 C 177.605469 479.75 219.070312 469.375 255.976562 449.671875 C 293.433594 469.648438 334.675781 479.882812 376.355469 479.882812 C 396.019531 479.882812 415.785156 477.605469 435.289062 472.996094 C 459.523438 467.269531 482.808594 458.015625 504.5 445.492188 C 509.136719 442.816406 511.996094 437.867188 512 432.515625 C 512.019531 407.523438 508.382812 382.742188 501.1875 358.867188 Z M 180.8125 110.734375 C 189.574219 95.550781 200.066406 81.421875 211.988281 68.742188 C 225.066406 54.832031 239.839844 42.675781 255.992188 32.511719 C 272.207031 42.71875 287.007812 54.886719 300.085938 68.773438 C 333.898438 104.660156 354.734375 150.070312 360.121094 198.664062 C 348.59375 193.542969 336.6875 189.269531 324.492188 185.882812 C 316.484375 146.03125 296.015625 109.425781 266.167969 81.960938 C 260.421875 76.671875 251.578125 76.679688 245.839844 81.972656 C 231.570312 95.136719 219.375 110.40625 209.59375 127.351562 C 197.3125 148.617188 189.296875 171.625 185.765625 195.742188 C 182.425781 218.570312 183.214844 241.601562 188.089844 264.230469 C 188.1875 265.246094 188.386719 266.265625 188.703125 267.277344 C 188.753906 267.433594 188.820312 267.578125 188.871094 267.730469 C 196.433594 299.964844 211.851562 329.265625 233.871094 353.429688 C 224.875 360.273438 215.234375 366.132812 205.03125 370.953125 C 184.605469 347.125 169.136719 318.894531 160.078125 288.691406 C 153.742188 267.554688 150.515625 245.6875 150.496094 223.699219 C 150.464844 184.203125 160.945312 145.140625 180.8125 110.734375 Z M 255.996094 333.136719 C 240.351562 315.933594 228.65625 295.652344 221.558594 273.398438 C 244.273438 268.457031 267.683594 268.480469 290.503906 273.46875 C 283.429688 295.609375 271.714844 315.867188 255.996094 333.136719 Z M 291.980469 179.097656 C 268.113281 175.710938 243.789062 175.691406 219.988281 179.042969 C 223.632812 166.296875 228.839844 154.015625 235.574219 142.351562 C 241.410156 132.238281 248.261719 122.835938 256.019531 114.277344 C 272.792969 132.761719 285.105469 155.023438 291.980469 179.097656 Z M 139.082031 319.328125 C 148.089844 341.683594 160.238281 362.75 175.035156 381.675781 C 162.183594 384.886719 148.957031 386.515625 135.496094 386.515625 C 123.816406 386.515625 112.253906 385.285156 100.964844 382.847656 C 108.585938 359.09375 121.695312 337.3125 139.082031 319.328125 Z M 83.542969 443.742188 C 64.960938 439.371094 47.046875 432.660156 30.167969 423.75 C 30.898438 404.609375 34.035156 385.703125 39.519531 367.4375 C 53.6875 320.230469 82.574219 279.496094 121.9375 250.539062 C 123.269531 263.085938 125.519531 275.53125 128.691406 287.785156 C 98.207031 314.640625 76.761719 350.652344 67.902344 390.214844 C 66.195312 397.832031 70.621094 405.488281 78.074219 407.8125 C 96.597656 413.589844 115.914062 416.515625 135.496094 416.515625 C 160.054688 416.515625 183.992188 411.953125 206.640625 402.953125 C 228.410156 394.304688 248.242188 381.859375 265.605469 365.964844 C 265.917969 365.703125 266.21875 365.421875 266.515625 365.128906 C 291.105469 342.332031 309.078125 314.03125 319.128906 282.511719 C 329.550781 286.882812 339.441406 292.304688 348.71875 298.734375 C 338.292969 328.3125 321.589844 355.796875 299.980469 378.722656 C 284.84375 394.785156 267.519531 408.507812 248.488281 419.519531 C 214.296875 439.296875 175.226562 449.75 135.496094 449.75 C 117.972656 449.75 100.492188 447.730469 83.542969 443.742188 Z M 373 319.351562 C 382.191406 328.867188 390.203125 339.5 396.925781 351.140625 C 402.765625 361.25 407.484375 371.882812 411.015625 382.882812 C 386.644531 388.15625 361.238281 387.695312 336.980469 381.636719 C 351.832031 362.667969 364.003906 341.625 373 319.351562 Z M 428.390625 443.800781 C 380.429688 455.132812 330.714844 450.484375 285.953125 430.875 C 296.15625 423.453125 305.808594 415.28125 314.84375 406.410156 C 334.847656 413.144531 355.769531 416.539062 376.683594 416.539062 C 396.015625 416.539062 415.34375 413.644531 433.925781 407.832031 C 441.378906 405.5 445.796875 397.839844 444.082031 390.222656 C 439.816406 371.285156 432.695312 353.089844 422.90625 336.140625 C 410.625 314.871094 394.707031 296.421875 375.589844 281.308594 C 357.472656 266.988281 337.105469 256.148438 315.035156 249.050781 C 314.148438 248.660156 313.21875 248.347656 312.234375 248.125 C 312.125 248.101562 312.011719 248.09375 311.902344 248.070312 C 280.167969 238.449219 247.03125 237.128906 215.046875 244.109375 C 213.613281 232.902344 213.359375 221.625 214.285156 210.378906 C 245.113281 204.613281 277.273438 205.339844 307.9375 212.589844 C 329.410156 217.667969 349.957031 225.808594 369.007812 236.785156 C 403.234375 256.507812 431.820312 285.113281 451.6875 319.523438 C 460.453125 334.703125 467.441406 350.851562 472.460938 367.519531 C 477.964844 385.789062 481.109375 404.664062 481.835938 423.742188 C 464.894531 432.679688 446.953125 439.414062 428.390625 443.800781 Z M 428.390625 443.800781 " style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" />
</g>
		</svg><br/><br/>
    &copy; Copyright 2019 - Ian S. Pringle.
    {% endblock footer %}
    </footer>
</body>
